@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html { font-size: 16px; display: table; margin: auto; }
body {
    background-color: #ffffff /*#fffceb #f6f5f3 #495462 #3e4245*/ ;
    color: #000 /*#080f15*/;
    font-size: 1em;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    font-kerning: auto;
    text-rendering: optimizeLegibility;
    padding: 0em;
    line-height: 1.6;
    width: 40em;
    display: table-cell;
    vertical-align: middle;
    overflow-y: scroll;
    height: 101%;
}

a { border-bottom: 1.5pt solid #080f15; color: #080f15; text-decoration: none; }
a:hover { border-bottom: none; text-decoration: none; }
.title { font-weight: normal; }
.firstheading { margin-bottom: 0}
.heading { margin-top: 2em; margin-bottom: 0;}
.subheading { margin-top: 1em; margin-bottom: 0; }
.content { margin-top: 0; margin-bottom: 0; }
.hanging { margin-top: 0; margin-bottom: 0; text-indent: -1em; margin-left: 1em; }
.indent { margin-top: 0; margin-bottom: 0; text-indent: 1em; }
.pageend { margin-top: 0; margin-bottom: 5em; }
.red { color: #ff6961; }

img { padding-top: 1em; padding-bottom: 1em; }

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: #ffffff;
    padding-top: 1.5em;
    margin-left: 1em;
    padding-bottom: 0.5em;
    top: 0em;
    width: 100%;
}
.navitem { margin-right: 2em; }

.main { padding-top: 9em; margin-left: 1em; margin-right: 1em; padding-bottom: 1em;}
