/* Collapsible text */

.collapsible {
    background-color: #942300;
    width: 100%;
    text-align: left;
    cursor: pointer;
    color: #fff;
    border: 2px solid #5E1600;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    }

.active, .collapsible:hover { background-color: #5E1600; color: #fff; }

.collcontent { display: none; overflow: hidden; padding: 1em 0;}
